project:
  type: website

website:
  title: "quarto website"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: Contact

format:
  html:
    theme: flatly
    css: styles.css
    toc: true

editor: visual

